{% set order = fsc.getMainModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2 col-md-12 col-xl-3">
            <div class="panel mb-2">
                <div class="panel-header text-right">
                    {% if order.editable %}
                        <div class="h3">
                            {{ fsc.divisaTools.format(order.total) }}
                        </div>
                        {{ fsc.getPaymentGatewayHtml() | raw }}
                    {% elseif order.getStatus().generadoc is empty %}
                        <div class="h3">
                            {{ fsc.divisaTools.format(order.total) }}
                        </div>
                        <span class="label label-rounded label-error">
                            {{ order.getStatus().nombre }}
                        </span>
                    {% else %}
                        <div class="h3">
                            {{ fsc.divisaTools.format(order.total) }}
                        </div>
                        <span class="label label-rounded label-success">
                            {{ order.getStatus().nombre }}
                        </span>
                        <br/><br/>
                        <a href="{{ order.url('public') }}&action=print" target="_blank" class="btn">
                            <i class="fas fa-print fa-fw" aria-hidden="true"></i>
                            {{ i18n.trans('print') }}
                        </a>
                    {% endif %}
                </div>
                <div class="panel-body bg-gray">
                    <div class="h5">
                        {{ i18n.trans('billing-address') }}:
                    </div>
                    <p class="mb-2">
                        {{ order.nombrecliente }}, {{ i18n.trans('fiscal-number') }}: {{ order.cifnif }}<br/>
                        {{ order.direccion }}, {{ order.codpostal }}, {{ order.apartado }}<br/>
                        {{ order.ciudad }} ({{ order.provincia }}) {{ order.country() }}
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="panel">
                <div class="panel-header">
                    <h1 class="h3">
                        <i class="fas fa-shopping-cart fa-fw" aria-hidden="true"></i>
                        {{ i18n.trans('order') }} {{ order.codigo }}
                    </h1>
                    <span>{{ order.fecha }} {{ order.hora }}</span>
                </div>
                <div class="custom-scroll mt-2 mb-2">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>{{ i18n.trans('product') }}</th>
                                <th class="text-right">{{ i18n.trans('quantity') }}</th>
                                <th class="text-right" style="min-width: 100px;">{{ i18n.trans('price') }}</th>
                                <th class="text-right" style="min-width: 70px;">{{ i18n.trans('dto') }}</th>
                                <th class="text-right">{{ i18n.trans('tax') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in order.getLines() %}
                                <tr>
                                    <td>
                                        <b>{{ line.referencia }}</b> {{ line.descripcion | raw | nl2br }}
                                    </td>
                                    <td class="text-right">
                                        {{ line.cantidad }}
                                    </td>
                                    <td class="text-right">
                                        {{ fsc.divisaTools.format(line.pvpunitario) }}
                                    </td>
                                    <td class="text-right">
                                        {% if line.dtopor == 0 %}
                                            -
                                        {% else %}
                                            {{ line.dtopor }} %
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {{ line.iva }} %
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="bg-warning">
                                        {{ i18n.trans('no-data') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br/>
                <div class="custom-scroll mb-2">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    {{ i18n.trans('net') }}
                                </th>
                                {% if order.totaliva != 0 %}
                                    <th class="text-right">
                                        {{ i18n.trans('taxes') }}
                                    </th>
                                {% endif %}
                                {% if order.totalrecargo != 0 %}
                                    <th class="text-right">
                                        {{ i18n.trans('surcharge') }}
                                    </th>
                                {% endif %}
                                {% if order.totalirpf != 0 %}
                                    <th class="text-right">
                                        {{ i18n.trans('irpf') }}
                                    </th>
                                {% endif %}
                                <th class="text-right">{{ i18n.trans('total') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ fsc.divisaTools.format(order.neto) }}
                                </td>
                                {% if order.totaliva != 0 %}
                                    <td class="text-right">
                                        {{ fsc.divisaTools.format(order.totaliva) }}
                                    </td>
                                {% endif %}
                                {% if order.totalrecargo != 0 %}
                                    <td class="text-right">
                                        {{ fsc.divisaTools.format(order.totalrecargo) }}
                                    </td>
                                {% endif %}
                                {% if order.totalirpf != 0 %}
                                    <td class="text-right">
                                        {{ fsc.divisaTools.format(order.totalirpf) }}
                                    </td>
                                {% endif %}
                                <td class="text-right">
                                    {{ fsc.divisaTools.format(order.total) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>