{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <form action="{{ fsc.url() }}" method="post">
                        <input type="hidden" name="action" value="finalize"/>
                        <div class="panel">
                            <div class="panel-header">
                                <div class="panel-title text-center">
                                    <i class="fas fa-address-book fa-3x" aria-hidden="true"></i>
                                    <p class="empty-title h5">{{ i18n.trans('address') }}</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="columns">
                                    <div class="column col mb-2">
                                        {{ i18n.trans('name') }}:
                                        <input type="text" name="nombre" value="{{ fsc.contact.nombre }}" class="form-input" required="true"/>
                                    </div>
                                    <div class="column col mb-2">
                                        {{ i18n.trans('surname') }}:
                                        <input type="text" name="apellidos" value="{{ fsc.contact.apellidos }}" class="form-input"/>
                                    </div>
                                    <div class="column col mb-2">
                                        {{ i18n.trans('company') }}:
                                        <input type="text" name="empresa" value="{{ fsc.contact.empresa }}" class="form-input" placeholder="{{ i18n.trans('optional') }}"/>
                                    </div>
                                    <div class="column col mb-2">
                                        {{ i18n.trans('fiscal-number') }}:
                                        <input type="text" name="cifnif" value="{{ fsc.contact.cifnif }}" class="form-input"/>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column col mb-2">
                                        {{ i18n.trans('address') }}:
                                        <input type="text" name="direccion" value="{{ fsc.presupuesto.direccion }}" class="form-input" required=""/>
                                    </div>
                                    <div class="column col-3 mb-2">
                                        {{ i18n.trans('zip-code') }}:
                                        <input type="text" name="codpostal" value="{{ fsc.presupuesto.codpostal }}" class="form-input" required=""/>
                                    </div>
                                    <div class="column col-3 mb-2">
                                        {{ i18n.trans('postalmail') }}:
                                        <input type="text" name="apartado" value="{{ fsc.presupuesto.apartado }}" class="form-input" placeholder="{{ i18n.trans('optional') }}"/>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column col mb-2">
                                        {{ i18n.trans('city') }}:
                                        <input type="text" name="ciudad" value="{{ fsc.presupuesto.ciudad }}" class="form-input" required=""/>
                                    </div>
                                    <div class="column col mb-2">
                                        {{ i18n.trans('province') }}:
                                        <input type="text" name="provincia" value="{{ fsc.presupuesto.provincia }}" class="form-input" required=""/>
                                    </div>
                                    <div class="column col mb-2">
                                        {{ i18n.trans('country') }}:
                                        <select name="codpais" class="form-select" required="">
                                            {% for pais in fsc.getCountries() %}
                                                {% if pais.codpais == fsc.presupuesto.codpais or pais.codiso == fsc.presupuesto.codpais %}
                                                    <option value="{{ pais.codpais }}" selected="">{{ pais.nombre }}</option>
                                                {% else %}
                                                    <option value="{{ pais.codpais }}">{{ pais.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="columns">
                                    <div class="column col text-right">
                                        <button type="submit" class="btn btn-success">
                                            {{ i18n.trans('finalize') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}